<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Package</th>
                            <th>Source</th>
                            <th>Documentation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $key, $value := .Packages }}
                        {{ $importPath := printf "%v/%v" $.URL $key }}
                        {{ if ne $value.URL "" }}
                            {{ $importPath = printf "%v/%v" $value.URL $key }}
                        {{ end }}
                        <tr>
                            <td>{{ $importPath }}</td>
                            <td>
                                <a href="//{{ $value.Repo }}">{{ $value.Repo }}</a>
                            </td>
                            <td>
                                <a href="//{{ $.Godoc.Host }}/{{ $importPath }}">
                                    <img src="//img.shields.io/badge/godoc-reference-blue?style=for-the-badge" alt="GoDoc" />
                                </a>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
